<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Thu Sep 05 2013 20:25:06 GMT+0000 (UTC) -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Our blog | RASSEYE!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/webflow.css">
    <link rel="stylesheet" type="text/css" href="css/rasseye2.webflow.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
      google: {
      families: ["Raleway:200,300,regular,500,600,700"]
      }
      });
    </script>
    <script type="text/javascript" src="js/webflow.js" defer></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-43038374-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

   <div class="section header">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="company-title">RASSEYE!</div>
        </div>
        <div class="w-col w-col-8 nav-bar"><a class="nav-link" href="/" target="_self">Home</a><a class="nav-link" href="/us" target="_self">Team</a><a class="nav-link" href="/blog" target="_self">Blog</a><a class="nav-link" href="/fame">Wall of Fame</a>
        </div>
      </div>
    </div>
  </div>

  <div class="section" style="padding-bottom: 3%;">
    <div class="w-container container-marketing">
      <h1 style="color: #333; margin-top: 80px;">Hello, world!</h1>
      <div class="section-description">Random things that come to our mind.</div>
    </div>
  </div>

  <div class="section grey">
    <div class="w-container container-marketing">
      <div class="section-description">September 10, 2013</div>
      <h4>We're here</h4>
      <div class="w-row">
	<div class="w-col w-col-7">
	  <p style="margin-bottom: 0; margin-top: 25px; text-align: justify;">
	    Hi there,<br /><br />
	    We've got a surprise for you. Yes, you!<br />
	    Are you dreaming about a concert of your favourite band in your town? They won't come, will they?<br />
	    Never mind. We're here to help you.<br />
	    We want brilliant concerts, too. With <strong>RASSEYE!</strong>, it'll be simple. If you haven't yet visited our <a href="/">home page</a> or read our <a href="/#faq">FAQ</a>, do it.<br /><br />
	    We're starting our small independent crowdfunding campaign to boost interest and sympathy to <strong>RASSEYE!</strong> as we really, really, REALLY believe it will make our lives simpler and brighter.<br />
	    If there is a shot (and we believe there will), <strong>RASSEYE!</strong> will rise soon making the whole music industry a lot more flexible and music fans happy.<br />
	    We're hunting after shares, tweets and <a href="/#signup">sign-ups</a>. If you want to be among our very first (and of course favourite!) users, <a href="/#pay">make a donation</a> to get privileges.<br />
	    Support us to make dreams of so many people real! And don't hesitate to contact us.<br /><br />
	    A small demo will come here very soon!<br /><br />
	    May the Force be with you.<br /><br />
	    Yours,<br />
	    Alex & <strong>RASSEYE!</strong> team
	  </p>
	</div>
	<div class="w-col w-col-1"></div>
	<div class="w-col w-col-4">
	  <img class="img-circle" src="images/blog-hello.jpg" style="margin-top: 25px;">
	  <div style="margin-top: 25px;">Photo credit: <a href="http://www.flickr.com/photos/renneville/3358544222/">Fey Ilyas</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-sa/2.0/">cc</a></div>
	</div>
      </div>
    </div>
  </div>

  <div class="section grey footer">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="footer-block">
            <p class="footer-info">
	      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" /></a> <strong>RASSEYE!</strong> 2013
              <br>Icons: <a href="http://www.icondrawer.com">Eugen Buzuk</a>
          </div>
        </div>
        <div class="w-col w-col-5">
          <div class="w-row stanford">
            <div class="w-col w-col-3 w-col-small-6 w-col-tiny-6 stanford-logo">
              <img src="images/stanfordlogo.gif" width="65" alt="stanfordlogo.gif">
            </div>
            <div class="w-col w-col-9 w-col-small-6 w-col-tiny-6">
              <p class="footer-info"><strong>RASSEYE!</strong> crowdfunding campaign was started as the final project for <a href="https://www.coursera.org/course/startup">Stanford Startup Engineering class</a>.</p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3">
          <div class="footer-block">
            <h5 class="footer-info-contact-heading">Contact us</h5>
            <p class="footer-info footer-info-contact"><a href="/us">Our team</a>
              <br>contact.rasseye@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-43038374-1', 'rasseye.com');
    ga('send', 'pageview');
  </script>

  </body>
  </html>
