<!DOCTYPE html>
<html>
  <head><title>Покупаем BTC</title></head>
  <body>
    This is a small "how-to" on buying Bitcoins for Russians :)<br /><br />

    Привет!<br />
    Этот микротуториал от меня (от Саши) посвящён тому, как быстро и безболезненно купить и пожертвовать нам биткойны (они же Bitcoins, или BTC), если вы живёте в России.<br />
    Всё, что тут написано, основано на моём собственном опыте. Я сама пробовала купить и пожертвовать биткойны описанным способом, всё прошло отлично.<br />
    Итак, поехали. <br /><br />

0. Для продвинутых юзеров сразу скажу, что мы будем покупать ВТС на Метабанке. Там можно купить ВТС через Яндекс-деньги или через QIWI. Мы будем делать это через Яндекс-деньги. Продвинутые юзеры могут всё делать сами, как им захочется :)<br /><br />

1. Регистрируемся (Sign Up) на <a href="https://coinbase.com">coinbase.com</a>.<br />
Только регистрируемся, ничего тут не покупаем! Coinbase - это ваше (пока что) пустое портмоне, куда потом вы положите ВТС :)<br />
После регистрации идём в Account Settings -> Bitcoin Addresses. Нажимаем на Create New Address, запоминаем полученную последовательность символов.<br />
Этот биткоин-адрес мы будем использовать для покупки биткоинов. Именно через него в ваше портмоне впоследствии придут ВТС.<br /><br />

2. Яндекс-деньги<br />
Открываем кошелёк на <a href="https://money.yandex.ru/">Яндекс-деньгах</a>. Это сделать очень просто, следуйте инструкциям на сайте Яндекс-денег.<br />
Кладём на этот кошелёк нужную сумму (сколько вы хотите пожертвовать) в рублях.<br />
Поскольку все эти серсивы будут брать комиссию, советую положить примерно на 50-100 рублей больше на всякий случай.<br /><br />

3. Покупаем биткойны!<br>
1) Идём на <a href="https://metabank.ru/">Метабанк</a>. ЖМЁМ КУПИТЬ БИТКОИН! Выбираем Яндекс-деньги.<br />
2) В графе биткоин-адрес пишем тот самый сгенерённый адрес из пункта 1.<br />
3) Выбираем сумму (в рублях), жмём "оплатить на сайте Яндекс-деньги". Оплачиваем. Ждём минут 30. Проверяем, не пришли ли деньги на ваше Coinbase-портмоне (это можно смотреть в разделе Transactions). Когда они придут, дожидаемся, пока Status не сменится с Pending на Complete.<br /><br />

4. Ура! ВТС получены!<br>
Теперь идём на сайт <a href="/"><b>RASSEYE!</b></a> и жмём на нужную кнопку Donate Bitcoins :) Платим любым удобным способом. Легче всего через Coinbase.<br />
Обязательно запомните 8-значный confirmation number или адрес, с которого прошёл ваш платёж для <b>RASSEYE!</b>. Адрес этот можно посмотреть на Coinbase в графе Transactions. Confirmation number выдаётся сразу по совершении пожертвования.<br /><br />

5. Осталось только заполнить нужную формочку на сайте. Введите туда запомненный 8-значный confirmation number или адрес, с которого прошёл ваш платёж для <b>RASSEYE!</b>.<br />
Ожидайте письмо от меня в течение дня :)<br /><br />

6. Если на каком-то этапе возникнут вопросы - пишите прямо мне! Мои контакты есть на странице <a href="/us">нашей команды</a>.<br /><br />

7. СПАСИБО!!!<br /><br />

Ваша команда <b>RASSEYE!</b>

  </body>
</html>
