<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com--><!-- Last Published: Thu Sep 05 2013 20:25:06 GMT+0000 (UTC) -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Organize a show | RASSEYE!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <script type="text/javascript" src="/js/lastfm.api.md5.js"></script>
    <script type="text/javascript" src="/js/lastfm.api.js"></script>
    <script type="text/javascript" src="/js/lastfm.api.cache.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
          var socket = io.connect('http://localhost');

          $("#who").change(function() {
              var name = $(this).val();
              socket.emit('get artist info', { name: name });
          });

          socket.on('artist info', function(data) {
              alert(data);
          });
      });
    </script>

  </head>
  <body>

    <div class="container">
      <h1>Organize a show!</h1>

      <form role="form" style="width: 75%; padding-top: 3%;">
	<div class="form-group">
	  <label for="who">Who?</label>
	  <input class="form-control" id="who" placeholder="My fav band">
	</div>
	<div class="form-group">
	  <label for="where">Where?</label>
	  <input class="form-control" id="where" placeholder="My town">
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </body>
  </html>
