body {
  font-family: Raleway, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}
.img-circle {
  border-radius: 50%;
}
.section.grey.footer {
  background-color: rgba(204, 204, 204, 1);
}
h1 {
  display: inline-block;
  margin: 251px 0px 11px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0);
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 42px;
  line-height: 44px;
  font-weight: 700;
  text-align: left;
}
h2 {
  display: inline-block;
  margin: 254px 0px 10px;
  padding: 9px 13px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
}
h4 {
  margin: 3px 0px 10px;
  float: none;
  border-width: 1px;
  border-color: black;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 28px;
  line-height: 36px;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: none;
}
h5 {
  margin-right: 0px;
  margin-left: 0px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 15px;
  box-shadow: none;
  color: #333;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
.button {
  display: inline-block;
  padding: 12px 31px;
  border: 1px solid #09f;
  border-radius: 5px;
  background-color: #09f;
  background-image: none;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Muli;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  border-color: black;
  background-color: white;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button.btn {
  margin-top: 17px;
  margin-bottom: 5px;
  border: 1px solid #09f;
  background-color: #09f;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.button:hover.btn:hover {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: black;
}
.button:active.btn:active {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.button:focus.btn:focus {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.section {
  padding-top: 25px;
  background-color: white;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-align: center;
}
.section.header {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(51, 51, 51, 0.8);
  font-family: Raleway, sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.section.grey {
  padding-bottom: 25px;
  background-color: #f2f2f2;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}
.section.section-demo {
  padding-bottom: 25px;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-align: center;
}
.nav-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 14px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  color: white;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
}
.nav-link:hover, .nav-link:active {
  background-color: #969696;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  border: 0;
}
.company-title {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 20px;
  text-transform: none;
}
.nav-bar {
  position: static;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Raleway, sans-serif;
  text-align: right;
}
.hero-bg {
  position: static;
  display: block;
  overflow: visible;
  width: auto;
  padding-top: 33px;
  padding-bottom: 33px;
  background-color: rgba(0, 0, 0, 0);
  background: url(../images/leo.jpg);
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
  background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
  background: linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
  background-position: 5% 18%;
  background-size: cover;
  background-repeat: repeat repeat;
  background-attachment: fixed;
  opacity: 1;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}
.subtitle {
  margin-right: 6px;
  margin-bottom: 18px;
  padding-right: 15px;
  padding-left: 13px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-family: Raleway, sans-serif;
  color: white;
  font-size: 26px;
  line-height: 22px;
  font-weight: 700;
}
.section-description {
  font-family: Raleway, sans-serif;
  color: black;
  font-size: 22px;
  line-height: 30px;
  font-style: normal;
  font-weight: 300;
}
.snippet {
  display: block;
  padding-top: 10px;
  float: none;
  border-radius: 5px;
  background-color: white;
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  color: black;
  text-decoration: none;
}
.snippet:hover {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  border: 0;
}
.snippet-text-section {
  margin-top: 7px;
  padding: 10px 12px;
  clear: none;
}
.snippet-title {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-transform: capitalize;
}
.snippet-text {
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  text-transform: none;
}
.snippet-row {
  margin-top: 27px;
  margin-bottom: 5px;
  border-width: 1px;
  border-color: black;
}
.content-bg {
  height: 480px;
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: lightgrey;
  background-image: url(../images/mozart.JPG);
  background-size: cover;
  background-attachment: fixed;
  font-family: Raleway, sans-serif;
  font-weight: 300;
}
.content-bg.two {
  background-image: url(../images/1980.jpg);
  background-size: cover;
}
.content-bg.three {
  background-image: url(../images/main.jpg);
  text-align: left;
}
.content-bg.four {
  background-image: url(../images/rihanna.jpg);
}
.container-marketing {
  position: static;
  display: block;
  overflow: visible;
  padding-top: 5px;
  float: none;
  clear: none;
  direction: ltr;
  font-family: Raleway, sans-serif;
  text-align: center;
}
.well {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}
.label {
  display: block;
  width: 95px;
  margin: 10px auto;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #666;
  color: white;
  font-weight: 500;
}
.label.label-danger {
  border-color: #c00;
  background-color: #c00;
}
.img-payment {
  display: block;
  width: 90px;
  margin-right: auto;
  margin-left: auto;
}
.info-well {
  padding-top: 10px;
  color: black;
  font-size: 14px;
  line-height: 22px;
}
.alert-danger {
  display: block;
  width: 70%;
  margin: 3px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: rgba(204, 0, 0, 0.2);
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.form {
  margin-top: 20px;
}
.form-input {
  margin-bottom: 17px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 4px;
}
.alert-success {
  display: block;
  width: 70%;
  margin: 3px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  background-color: #dbffd1;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.faq {
  padding-top: 20px;
  padding-bottom: 10px;
}
.form-error {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  font-weight: 500;
}
.form-success {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  font-weight: 500;
}
.footer-block {
  font-family: Raleway, sans-serif;
  font-weight: 500;
}
.footer-info {
  color: black;
  font-size: 14px;
  text-align: left;
}
.stanford {
  font-family: Raleway, sans-serif;
  font-weight: 500;
  text-align: left;
}
.stanford-logo {
  float: left;
  text-align: left;
}
.footer-info-contact {
  text-align: right;
}
.footer-info-contact-heading {
  text-align: right;
}
@media (max-width: 991px) {
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section {
    font-family: Raleway, sans-serif;
    font-weight: 300;
  }
  .nav-link {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background: url(../images/leo.jpg);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
  }
  .snippet {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .content-bg {
    background-image: url(../images/mozart.JPG);
    background-size: cover;
    background-attachment: fixed;
    font-family: Raleway, sans-serif;
    font-weight: 300;
  }
  .content-bg.two {
    background-image: url(../images/1980.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .content-bg.three {
    background-image: url(../images/main.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
  .content-bg.four {
    background-image: url(../images/rihanna.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-top: 173px;
  }
  h2 {
    margin-top: 107px;
  }
  .button {
    margin-bottom: 33px;
    padding: 29px 30px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    font-size: 16px;
    font-weight: 700;
  }
  .button.btn {
    padding-top: 18px;
    padding-bottom: 18px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section.header {
    position: static;
    background-color: #333;
  }
  .nav-link {
    background-color: #6b6b6b;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-link:hover {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .company-title {
    margin-bottom: 33px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .nav-bar {
    text-align: center;
  }
  .hero-bg {
    padding-right: 10px;
    padding-left: 10px;
    background: url(../images/leo.jpg);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  .section-description {
    padding-right: 10px;
    padding-left: 10px;
  }
  .snippet {
    margin-bottom: 19px;
  }
  .content-bg {
    height: 400px;
    padding-right: 10px;
    padding-left: 10px;
    background-image: url(../images/mozart.JPG);
    background-size: cover;
    background-attachment: fixed;
  }
  .content-bg.two {
    background-image: url(../images/1980.jpg);
  }
  .content-bg.three {
    background-image: url(../images/main.jpg);
  }
  .content-bg.four {
    background-image: url(../images/rihanna.jpg);
  }
  .form {
    padding-right: 10px;
    padding-left: 10px;
  }
  .paragraph-faq {
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (max-width: 479px) {
  h3 {
    padding-right: 3px;
    padding-left: 3px;
  }
  h4 {
    padding-right: 5px;
    padding-left: 5px;
  }
  .button {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .button.btn {
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .section.header {
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
  }
  .nav-link {
    display: block;
    margin-bottom: 19px;
    -webkit-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  .hero-bg {
    background: url(../images/leo.jpg);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background: linear-gradient(bottom, rgba(0, 0, 0, 1), transparent 80%), url('../images/leo.jpg');
    background-size: cover;
    background-attachment: fixed;
  }
  .subtitle {
    line-height: 28px;
  }
  .section-description {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .content-bg {
    height: 370px;
    min-height: 330px;
    background-image: url(../images/mozart.JPG);
    background-size: cover;
    background-attachment: fixed;
  }
  .alert-danger {
    width: 80%;
  }
  .stanford {
    float: none;
  }
}